<section class="proyectos2">
  <h1>Proyectos de impacto</h1>
  <p>Conectamos inversores conscientes con emprendedores y empresas sociales que impactan positivamente.</p>

  <div class="box1 main-wrapper">
    <input name="category-css" id="all" type="radio" checked>
    <input name="category-css" id="ambiental" type="radio">
    <input name="category-css" id="cultural" type="radio">
    <input name="category-css" id="social" type="radio">
    <input name="category-css" id="pymes" type="radio">
    <input name="category-css" id="emprendedores" type="radio">
    <input name="category-css" id="mesocreditos" type="radio">
    <input name="category-css" id="microcreditos" type="radio">
    
    <div class="boxfiltros">
      <ul class="list-category">
        <li><label for="all">Todos</label></li>
        <li><label for="ambiental">Ambiental</label></li>
        <li><label for="cultural">Cultural</label></li>
        <li><label for="social">Social</label></li>
        <li><label for="pymes">Pymes</label></li>
        <li><label for="emprendedores">Emprendedores</label></li>
        <li><label for="mesocreditos">Mesocréditos</label></li>
        <li><label for="microcreditos">Microcréditos</label></li>
      </ul>
    </div>
    
    <div class="boxproyectos">
      <article class="type-ambiental boxpindividual" *ngFor="let proyecto of proyectos">
          <h4>Nos faltan $12.000</h4>
          <div class="barra">
            <div class="porcentaje"></div>
          </div>
          <div class="pindividual">
            <div class="imgproyecto">
              <img *ngIf="proyecto.foto_emprendimiento == ''" src="/assets/img/proyecto1.jpg" alt="">
              <img *ngIf="proyecto.foto_emprendimiento != ''" [src]="imagen(proyecto.foto_emprendimiento)">
            </div>
            <div class="textosproyectos">
              <h2>{{ proyecto.nombre_comercio }}</h2>
              <p *ngIf="proyecto.descripcion != null">
                {{ proyecto.descripcion }} <span *ngIf="proyecto.sexo == 'F'">Invertí en ella!</span><span *ngIf="proyecto.sexo == 'M'">Invertí en él!</span>
              </p>
              <p *ngIf="proyecto.descripcion == null">
                NO HAY DESCRIPCIÓN. <span *ngIf="proyecto.sexo == 'F'">Invertí en ella!</span><span *ngIf="proyecto.sexo == 'M'">Invertí en él!</span>
              </p>
            </div>
            <div class="boxbtnp">
              <a href="/proyecto/{{ proyecto.id_micro }}">
                <button class="btn1">Conocé más</button>
              </a>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>
      </article>
    </div>
  </div>

</section>