<section class="proyectos2">
  <h1>Proyectos de impacto</h1>
  <p>Conectamos inversores conscientes con emprendedores y empresas sociales que impactan positivamente.</p>

  <div class="box1 main-wrapper">
    <input name="category-css" id="all" type="radio" checked>
    <input name="category-css" id="ambiental" type="radio">
    <input name="category-css" id="cultural" type="radio">
    <input name="category-css" id="social" type="radio">
    <input name="category-css" id="pymes" type="radio">
    <input name="category-css" id="emprendedores" type="radio">
    <input name="category-css" id="mesocreditos" type="radio">
    <input name="category-css" id="microcreditos" type="radio">
    
    <div class="boxfiltros">
      <ul class="list-category">
        <li><label for="all">Todos</label></li>
        <li><label for="ambiental">Ambiental</label></li>
        <li><label for="cultural">Cultural</label></li>
        <li><label for="social">Social</label></li>
        <li><label for="pymes">Pymes</label></li>
        <li><label for="emprendedores">Emprendedores</label></li>
        <li><label for="mesocreditos">Mesocréditos</label></li>
        <li><label for="microcreditos">Microcréditos</label></li>
      </ul>
    </div>

    
    <div class="boxproyectos">
      <article class="type-ambiental boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto1.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Una máquina nueva para Griselda</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <span>Invertí en ella!</span></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
      <article class="type-cultural boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto2.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Cooperativa productora de paneles solares</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <strong>Invertí en ella!</strong></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
      <article class="type-social boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto3.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Productos lacteos biodinámicos - Tandil</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <strong>Invertí en ella!</strong></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
      <article class="type-ambiental boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto1.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Una máquina nueva para Griselda</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <span>Invertí en ella!</span></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
      <article class="type-cultural boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto2.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Cooperativa productora de paneles solares</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <strong>Invertí en ella!</strong></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
      <article class="type-social boxpindividual">

          <h4>Nos faltan $12.000</h4>
          <div class="barra"><div class="porcentaje"></div></div>
          <div class="pindividual">
            <div class="imgproyecto"><img src="/assets/img/proyecto3.jpg" alt=""></div>
            <div class="textosproyectos">
              <h2>Productos lacteos biodinámicos - Tandil</h2>
              <p>Griselda es costurera y necesita una nueva máquina para su taller para poder satisfacer la demanda creciente y poder incorporar a una persona. <strong>Invertí en ella!</strong></p>
            </div>
            <div class="boxbtnp">
              <button class="btn1">Conocé más</button>
              <img src="/assets/img/corazon.png" alt="">
            </div>
          </div>

      </article>
    </div>
    
  </div>

  

</section>