<section class="perfilusuario">
  <div class="menu-usuario">
    <ul>
      <li class="item-mu">
        <a href="perfil.html">
          <i class="fa fa-user"></i>
          <h4>Perfil</h4>
        </a>
      </li>
          <li class="item-mu">
            <a href="/mis-inversiones">
              <i class="fa fa-university"></i>
              <h4>Inversion</h4>
            </a>
          </li>
          <li class="item-mu">
            <a href="" style="cursor: pointer;" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              <h4>Cerrar Sesión</h4>
            </a>
          </li>
    </ul>
  </div>

  <div class="cont-usuario">
    <div class="box1">
      <h2>Mi perfil</h2>
      <h3>DATOS PERSONALES</h3>
    </div>
    <form [formGroup]="perfilForm" (ngSubmit)="guardarDatos()">
      <div class="box1" style="margin-top:20px; margin-bottom:40px;">
        <div class="box1" style="margin-top:15px;">
          <div class="boxfotoperfil">
            <div class="fotoperfil"></div>
            <button class="btn9">Subir foto</button>
          </div>
          <div class="boxdatosusuario">
            <div class="datosusuario">
              <input type="text" formControlName="nombre" placeholder="Nombre">
              <input type="text" formControlName="apellido" placeholder="Apellido">
              <input type="email" formControlName="email" placeholder="Email">
            </div>
            <div class="datosusuario">
              <input type="text" formControlName="telefono" placeholder="Teléfono">
              <input type="text" formControlName="fechaCumple" placeholder="Fecha de Cumpleaños">
              <select formControlName="pais" id="">
                <option value="">País</option>
                <option value="AR">Argentina</option>
                <option value="UR">Uruguay</option>
                <option value="0">Otro</option>
              </select>
            </div>
            <div class="datosusuario">
              <input formControlName="ocupacion" type="text" placeholder="Área de trabajo">
              <select formControlName="sexo" id="">
                <option value="">Sexo</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
                <option value="O">Otro</option>
              </select>
              <select formControlName="motivo" id="">
                <option value="0">¿Cómo llegaste a Sumatoria?</option>
                <option value="1">Opción 1</option>
                <option value="2">Otro</option>
              </select>
            </div>
            <label class="container3" style="margin-bottom: 0px;">
              <input formControlName="anonimo" type="checkbox" name="radio2">
              <span class="checkmark tr2"></span>
            </label>
            <p style="margin-left: 30px;">Figurar como anónimo</p>
          </div>
        </div>
        <button class="btn10 floatr">ACTUALIZAR</button>
      </div>
    </form>
    <div class="box1">
      <h3>CAMBIAR CONTRASEÑA</h3>
      <div class="datosusuario2">
        <input type="text" placeholder="Contraseña actual" class="du-margin">
        <input type="text" placeholder="Nueva contraseña" class="du-margin">
        <input type="text" placeholder="Repetir nueva contraseña">
      </div>
      <button class="btn10 floatr">ACTUALIZAR</button>
    </div>
  </div>
</section>