<header>
  <nav>
    <div class="boxlogo"><a href="index.html"><img src="/assets/img/logo.png" alt="Logo Sumatoria"></a></div>

    <div class="contenedormenu">
      <div class="boxusuario">
        <div class="usuario"><img src="/assets/img/usuario.png" alt="Icono Usuario"></div>
        <div class="corazon">
          <img src="/assets/img/corazon.png" alt="Icono Corazon">
          <div class="numerador">
            <p>0</p>
          </div>
        </div>
        <div class="divisor"></div>
      </div>

      <div class="container2 menu1">
        <div class="phone">
          <div class="content2">
            <div id="menuToggle">
              <input type="checkbox" />
              <span></span>
              <span style="top:7px;"></span>
              <span style="top:14px;"></span>
              <ul id="menu">
                <li><button class="btn1"><a href="inversion.html">Invertí</a></button></li>
                <li><a href="" class="opcionmenu">Como funciona</a></li>
                <li><a href="" class="opcionmenu">Sobre nosotros</a></li>
                <li><a href="" class="opcionmenu">Contactanos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>