<footer>
  <div class="box1">
    <div class="footer2 displayn2">
      <div class="box1"><img class="logofooter" src="/assets/img/logofooter-01.png" alt=""></div>
      <div class="box1">
        <div class="boxfooter">
          <button class="btn5">Ingresar</button>
          <button class="btn6">Registrate</button>
        </div>
      </div>
      <div class="box1">
        <p>Premio Emprendimiento Social Naves 2011</p>
        <p>Propulsar Impulsando ideas innovadoras 2015</p>
      </div>
    </div>
    <div class="footer1">
      <h2>NEWSLETTER</h2>
      <form action="">
        <div class="box1">
          <input type="text" placeholder="Nombre completo">
          <input type="text" placeholder="Email">
        </div>
        <button class="btn5">Suscribite</button>
      </form>
    </div>
    <div class="footer2 displayn">
      <div class="box1"><img class="logofooter" src="/assets/img/logofooter-01.png" alt=""></div>
      <div class="box1">
        <div class="boxfooter">
          <button class="btn5">Ingresar</button>
          <button class="btn6">Registrate</button>
        </div>
      </div>
      <div class="box1">
        <p>Premio Emprendimiento Social Naves 2011</p>
        <p>Propulsar Impulsando ideas innovadoras 2015</p>
      </div>
    </div>
    <div class="footer3">
      <h2>CONTACTO</h2>
      <p class="footerp1">info@sumatoria.org</p>
      <p class="footerp2">El Salvador 5912 Ciudad de Buenos Aires Argentina</p>
      <p class="footerp3">Seguinos en</p>
      <div class="boxredes">
        <img src="/assets/img/redes-03.png" alt="">
        <img src="/assets/img/redes-02.png" alt="">
        <img src="/assets/img/redes-01.png" alt="">
        <img src="/assets/img/redes-04.png" alt="">
      </div>
    </div>
  </div>
  <div class="box1">
    <p class="derechos">Sumatoria © - todos los derechos registrados</p>
    <div class="mn"><img src="/assets/img/mn.png" alt=""></div>
  </div>
</footer>