<section class="perfilusuario">
  <div class="menu-usuario">
    <ul>
      <li class="item-mu">
        <a href="/perfil">
          <i class="fa fa-user"></i>
          <h4>Perfil</h4>
        </a>
      </li>
          <li class="item-mu">
            <a href="/mis-inversiones">
              <i class="fa fa-university"></i>
              <h4>Inversion</h4>
            </a>
          </li>
          <li class="item-mu">
            <a href="" style="cursor: pointer;" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              <h4>Cerrar Sesión</h4>
            </a>
          </li>
    </ul>
  </div>

  <div class="cont-usuario">
    <div class="box1">
      <h2>Mis Inversiones</h2>
      <h3>ESTADÍSTICAS GENERALES</h3>
    </div>
    <div class="box1" style="margin-top:20px; margin-bottom:40px;">
      <div class="box1">
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <div>
              <img src="/assets/img/estadistica-01.png" alt="" class="imgestad1">
            </div>
            <h3 style="max-width:100%;">Impacto positivo</h3>
          </div>
        </div>
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <h1>9</h1>
            <h3>Proyectos Impactados</h3>
          </div>
        </div>
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <h1>46</h1>
            <h3>Personas Impactadas</h3>
          </div>
        </div>
        <div class="estadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <div class="estadisticadatos">
              <img src="/assets/img/estadistica-02.png" alt="">
              <p><i class="fa fa-circle color1"></i>Impacto social</p>
              <p><i class="fa fa-circle color2"></i>Impacto cutural</p>
              <p><i class="fa fa-circle color3"></i>Impacto ambiental</p>
            </div>
          </div>
        </div>
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <h2 class="estadisticah2">$70.409</h2>
            <h3>Dinero invertido</h3>
          </div>
        </div>
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <div class="estadisticadatos2"><h1>6<span>/11</span></h1></div>
            <h3>Inversiones activas <span style="font-weight:400;">/ totales</span></h3>
          </div>
        </div>
        <div class="estadistica marginestadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <h2 style="margin-top:10px; margin-bottom:0;">40 días</h2>
            <p>24/06/2019</p>
            <h3>Próximo vencimiento</h3>
          </div>
        </div>
        <div class="estadistica">
          <div class="estadistica1">
            <a href="" class="ayuda">?</a>
          </div>
          <div class="estadistica2">
            <h2 class="estadisticah2">$74.500</h2>
            <h3>Ganancia económica</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="box1">
      <h3>MIS INVERSIONES</h3>
      <div class="tabla table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th class="">Proyecto</th>
                  <th class="">Área</th>
                  <th class="">Inversión</th>
                  <th class="">Tasa</th>
                  <th class="">Retorno</th>
                  <th class="">Inicio</th>
                  <th class="">Medio</th>
                  <th class="">Acompaña</th>
                  <th class="">Vencimiento</th>
                  <th class="">Impacto</th>
                  <th class="">Estado</th>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Social</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Cultural</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Social</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Ambiente</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Social</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>
                <tr>
                  <td>Carmen Junco</td>
                  <td>Social</td>
                  <td>$4.500</td>
                  <td>30%</td>
                  <td>$4.950</td>
                  <td>22/02/2019</td>
                  <td>Transfe.</td>
                  <td>Nuestras Huellas</td>
                  <td>22/02/2019</td>
                  <td>Ver</td>
                  <td>Activo</td>
                </tr>		            	            
              </tbody>
            </table>
          </div>
    </div>
  </div>
</section>