<section class="portada2">
  <h4>Sobre nosotros - Equipo</h4>
  <h1>Te presentamos a nuestro equipo</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam ert volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
</section>

<section class="equipo">
  <h1>Más de 8 años trabajando por una economía sostenible</h1>
  <p>Conectamos inversores conscientes con emprendedores y empresas sociales que impactan positivamente.</p>
  <div class="box1">
    <div style="max-width:1200px; margin:0px auto;">
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
      <div class="equipoteam">
        <img src="/assets/img/equipoteam.png" alt="">
        <h4>Nombre Apellido</h4>
        <p>Co-fundador</p>
      </div>
    </div>
  </div>
</section>