<section class="pagorealizado">
  <h1>Gracias a tu inversión estamos transformando realidades.</h1>
  <p>Compartí este proyecto en las redes para llegar a más personas.</p>
  <img src="/assets/img/like.png" alt="" class="like">

  <div class="box1">
    <div class="compartir2">
      <p>Compartilo para llegar a más personas</p>
      <div class="boxredes2">
        <img src="/assets/img/redes-08.png" alt="" class="redesimg1">
        <img src="/assets/img/redes-07.png" alt="" class="redesimg2">
        <img src="/assets/img/redes-06.png" alt="" class="redesimg2">
        <img src="/assets/img/redes-05.png" alt="" class="redesimg2">
      </div>
    </div>
  </div>

</section>