<section class="portada2">
  <h4>¿Cómo funciona? - Paso a paso</h4>
  <h1>Te contamos cómo funciona nuestra plataforma de crowdlending (financiamiento colectivo).</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam ert volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
</section>

<section>
  <div class="paso backgrey">
    <div class="paso1">
      <h4>Paso 1</h4>
      <h1 class="wh1">Elegí a que proyecto querés financiar.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Mirá el video tutorial</button>
    </div>
    <div class="paso2 paso2b"><img src="/assets/img/paso.png" alt=""></div>
  </div>
  <div class="paso">
    <div class="paso2 paso2a"><img src="/assets/img/paso.png" alt=""></div>
    <div class="paso1">
      <h4>Paso 2</h4>
      <h1 class="wh2">Invertí tu dinero por el bien común.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Mirá el video tutorial</button>
    </div>
  </div>
  <div class="paso backgrey">
    <div class="paso1">
      <h4>Paso 3</h4>
      <h1 class="wh3">Conocé el impacto que generás con tu inversión.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Mirá el video tutorial</button>
    </div>
    <div class="paso2 paso2b"><img src="/assets/img/paso.png" alt=""></div>
  </div>
  <div class="paso">
    <div class="paso2 paso2a"><img src="/assets/img/paso.png" alt=""></div>
    <div class="paso1">
      <h4>Paso 4</h4>
      <h1 class="wh4">Obtené doble retorno; rentabilidad y consciencia.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Mirá el video tutorial</button>
    </div>
  </div>
  <div class="paso backgrey">
    <div class="paso1">
      <h4>Paso 5</h4>
      <h1 class="wh5">Retirá tu dinero o volvé a invertir.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Mirá el video tutorial</button>
    </div>
    <div class="paso2 paso2b"><img src="/assets/img/paso.png" alt=""></div>
  </div>
</section>