<section class="inversion">
  <div class="ancho50 ">
    <div>
      <h4>Nos faltan $12.000</h4>
      <div class="barra">
        <div class="porcentaje"></div>
      </div>
    </div>
    <div class="box1">
      <div class="inversion1"><img src="/assets/img/inversionista.png" alt=""></div>
      <div class="inversion2">
        <h2>Una máquina nueva para Griselda</h2>
        <div>
          <p>Nombre: Griselda Cardozo</p>
          <p>Rubro: Costurera</p>
          <p>Necesidad: Infraestructura</p>
          <p>Acompaña: Nuestras Huellas</p>
          <p>Ubicación: San Miguel, Nuenos Aires</p>
        </div>
      </div>
    </div>
    <div class="box1 inversion3">
      <p>Griselda es costurera hace 9 años y necesita una nueva máquina para su taller para poder satisfacer la demanda
        creciente y poder incorporar a una persona.</p>
    </div>
    <div class="box1">
      <div class="corazon2">
        <img src="/assets/img/corazon.png" alt="Icono Corazon">
        <div class="numerador">
          <p>+</p>
        </div>
      </div>
      <div class="inversionp">¿Querés agregar este proyecto a tus favoritos?
      </div>
    </div>
    <div class="box1 displayn">
      <div class="compartir">
        <p>Compartilo para llegar a más personas</p>
        <div class="boxredes2">
          <img src="/assets/img/redes-08.png" alt="" class="redesimg1">
          <img src="/assets/img/redes-07.png" alt="" class="redesimg2">
          <img src="/assets/img/redes-06.png" alt="" class="redesimg2">
          <img src="/assets/img/redes-05.png" alt="" class="redesimg2">
        </div>
      </div>
    </div>
  </div>
  <div class="ancho50">
    <div class="box1">
      <div class="inversion4">
        <div class="inversion4a paddingr1">
          <p>¿Cuánto vas a invertir? (AR$)</p>
          <input type="text" placeholder="$1000" class="inversioninput">
        </div>
        <div class="inversion4b paddingr2">
          <p>¿A qué tasa?</p>
          <select name="" id="" class="inversionselect">
            <option value="">%5</option>
            <option value="">%10</option>
            <option value="">%15</option>
            <option value="">%20</option>
            <option value="">%25</option>
            <option value="">%30</option>
            <option value="">%35</option>
            <option value="">%40</option>
            <option value="">%45</option>
            <option value="">%50</option>
            <option value="">%55</option>
            <option value="">%60</option>
            <option value="">%65</option>
            <option value="">%70</option>
            <option value="">%75</option>
            <option value="">%80</option>
            <option value="">%85</option>
            <option value="">%90</option>
            <option value="">%95</option>
            <option value="">%100</option>
          </select>
        </div>
      </div>
      <div class="inversion5 paddingi5a">
        <a href="" class="ayuda">?</a>
        <a href="" class="ayuda paddingi5a2 displayn2">?</a>
      </div>
    </div>

    <div class="box1 mt1">
      <div class="inversion4">
        <div class="box1 paddingr2">
          <p class="widthp1">Tu retorno</p>
          <p class="widthp2">Fecha de retorno</p>
        </div>

        <div class="box1 paddingr2">
          <div class="inversion6">
            <div class="inversion6b">
              <h4>$6.500</h4>
            </div>
            <h4>20/06/2019</h4>
          </div>
        </div>
      </div>
      <div class="inversion5 paddingi5b">
        <a href="" class="ayuda">?</a>
      </div>
    </div>

    <div class="box1 mt1">
      <div class="inversion4">
        <div class="inversion4a paddingr3">
          <p>¿Querés donarle a Sumatoria?</p>
          <div class="box1">
            <label class="container3">
              <input type="checkbox" name="radio">
              <span class="checkmark tr1"></span>
            </label>
            <select name="" id="" class="inversionselect2">
              <option value="">%5</option>
              <option value="">%10</option>
              <option value="">%15</option>
              <option value="">%20</option>
              <option value="">%25</option>
              <option value="">%30</option>
              <option value="">%35</option>
              <option value="">%40</option>
              <option value="">%45</option>
              <option value="">%50</option>
              <option value="">%55</option>
              <option value="">%60</option>
              <option value="">%65</option>
              <option value="">%70</option>
              <option value="">%75</option>
              <option value="">%80</option>
              <option value="">%85</option>
              <option value="">%90</option>
              <option value="">%95</option>
              <option value="">%100</option>
            </select>
            <a href="" class="ayuda displayn" style="margin-top:5px !important;">?</a>
          </div>
        </div>
        <div class="inversion4b">
          <p>Objetivos de desarrollo sostenible</p>
          <div class="box1">
            <div class="imginversion"><img src="/assets/img/inversion-01.png" alt=""></div>
            <div class="imginversion"><img src="/assets/img/inversion-02.png" alt=""></div>
            <div class="imginversion"><img src="/assets/img/inversion-03.png" alt=""></div>
          </div>
        </div>
      </div>
      <div class="inversion5 paddingi5c">
        <a href="" class="ayuda displayn2">?</a>
        <a href="" class="ayuda paddingi5c2">?</a>
      </div>
    </div>

    <div class="box1 inversion7">
      <div class="inversion7b">
        <p>Inversión: $5000</p>
        <p>Donación a Sumatoria: $250</p>
        <hr>
        <h3>Total: $5.250</h3>
      </div>
    </div>

    <div class="box1 inversion8">
      <div class="inversion8b">
        <label class="container3">
          <input type="checkbox" name="radio2">
          <span class="checkmark tr2"></span>
        </label>
        <p>Acepto <a href="">Términos y Condiciones</a></p>
      </div>
      <button class="btn7">Invertí</button>
    </div>

    <div class="box1 inversion9 displayn2">
      <p>Compartilo para llegar a más personas</p>
      <div class="boxredes3">
        <div class="redesimg3"><img src="/assets/img/redes-01.png" alt=""></div>
        <div class="redesimg3"><img src="/assets/img/redes-02.png" alt=""></div>
        <div class="redesimg3"><img src="/assets/img/redes-03.png" alt=""></div>
        <div class="redesimg3"><img src="/assets/img/redes-04.png" alt=""></div>
      </div>
    </div>
  </div>
</section>

<section class="historia">
  <h2>Conocé su historia</h2>
  <p>Griselda empezó con su emprendimiento en San Miguel hace 2 años, cuando decidió dejar su puesto de administrativo
    en una fábrica para trabajar en lo que más le gusta. Hoy decora tazas, cucharas y otros elementos para regalería</p>
  <p>Su historia de inicio es bastante particular; Como ella siempre eligió comprar productos de meprendedores para
    hacer regalos, asi fué que se acercó a una artesana que estaba interesada en vender su horno de vitrofusión. Se
    decidió a hacer la inversión y asi se animó a comenzar su proyecto. Al principio conoció la técnica de verificación
    y luego la definitiva que elegiría para sus trabajos; la de calcos vitrificables.</p>
</section>