<section class="portada2">
  <h4>¿Cómo funciona? - Como lo hacemos</h4>
  <h1 style="max-width:800px;">Sumatoria se vincula a organizaciones de Inclusión Financiera.</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam ert volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
</section>

<section class="organizaciones">
  <div class="pautas">
    <div class="pautas1"><img src="/assets/img/nosotros.png" alt=""></div>
    <div class="pautas2">
      <h1>Sumatoria + IMFs</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Ver todas las IMFs</button>
    </div>
  </div>
  <div class="pautas">
    <div class="pautas1"><img src="/assets/img/nosotros.png" alt=""></div>
    <div class="pautas2">
      <h1>Sumatoria + Proyectos de impacto</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Ver todas las IMFs</button>
    </div>
  </div>
  <div class="pautas">
    <div class="pautas1"><img src="/assets/img/nosotros.png" alt=""></div>
    <div class="pautas2">
      <h1>Sumatoria + vos</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <button class="btn11">Ver todas las IMFs</button> <button class="btn12">Registrate</button>
    </div>
  </div>
</section>

<section class="aliados">
  <div class="box1">
    <h1>Organizaciones de inclusión financiera</h1>
    <div class="boxaliados displayn">
      <div id="carouselExampleIndicators" class="carousel slide slider1" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active puntos"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1" class="puntos"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2" class="puntos"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                  <img src="/assets/img/aliados-03.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                  <img src="/assets/img/aliados-06.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-07.png" alt="">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-03.png" alt="">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                </div>
              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-07.png" alt="">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-03.png" alt="">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                  <img src="/assets/img/aliados-03.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                  <img src="/assets/img/aliados-06.png" alt="">
                </div>
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-03.png" alt="">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                  <img src="/assets/img/aliados-03.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                  <img src="/assets/img/aliados-06.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-07.png" alt="">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="boxaliados displayn2">
      <div id="carouselExampleIndicators2" class="carousel slide slider1" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active puntos"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="puntos"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2" class="puntos"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

              <div class="carousel-item active" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-07.png" alt="">
                  <img src="/assets/img/aliados-01.png" alt="">
                </div>
              </div>

              <div class="carousel-item" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-07.png" alt="">
                  <img src="/assets/img/aliados-01.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-03.png" alt="">
                  <img src="/assets/img/aliados-04.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
              </div>

              <div class="carousel-item" style="">
                <div class="columna1">
                  <img src="/assets/img/aliados-03.png" alt="">
                  <img src="/assets/img/aliados-04.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-01.png" alt="">
                  <img src="/assets/img/aliados-02.png" alt="">
                </div>
                <div class="columna1">
                  <img src="/assets/img/aliados-04.png" alt="">
                  <img src="/assets/img/aliados-05.png" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>